OPENAI_API_KEY=sk-proj-....
CHAT_MODEL=gpt-5
# CHAT_MODEL=gpt-4o-mini

# Auth — generate a long random string for JWT_SECRET in production
JWT_SECRET=nbzIfXVc1axpQOUfn4gZzUFdTD1k84a7IToojZhpkqCoaftkLPovg9M8VOsviAWrGqKEETn5dqjPEdcnEDsCfP

# Admin bootstrap (created on first boot if no admin exists yet)
ADMIN_MOBILE=+911234567890
ADMIN_NAME=Sumanta
ADMIN_PASSWORD=change-me-min-8-chars
